{% extends 'Partials/_BaseAdmin.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Califica las pegas pasadas!</h4>

  Estas son las personas las cuales realizaron una pega y no han sido calificadas! <hr>
    </div>



    <div class="container">
    <div class="row">
{#        usuarios#}
    <div class="col-sm-6 col-md-3">
            <div class="panel bg-info light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-bar-chart-o"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ usuarios|length }}</b>
                </h2>
                <h5 class="text-muted">Usuarios</h5>
              </div>
            </div>
          </div>
{#        Trabajos#}
            <div class="col-sm-6 col-md-3">
            <div class="panel bg-alert light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-bar-chart-o"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ trabajos|length }}</b>
                </h2>
                <h5 class="text-muted">Trabajos activos</h5>
              </div>
            </div>
          </div>
{#        container row#}
    </div>
    </div>

{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
{#<script src="{% static 'vendor/jquery/utility.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/main.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/demo.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/main.js' %}"></script>#}
{#<link href="{% static 'vendor/jquery/admin-forms.css' %}" type="text/css" rel="stylesheet">#}
{#<link href="{% static 'vendor/jquery/theme.css' %}" type="text/css" rel="stylesheet">#}
{#<link href="{% static 'vendor/jquery/theme.min.css' %}" type="text/css" rel="stylesheet">#}
{#<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">#}
{% endblock %}