{% extends 'Partials/_BaseAdmin.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Califica las pegas pasadas!</h4>

  Estas son las personas las cuales realizaron una pega y no han sido calificadas! <hr>
    </div>



    <div class="container">

    <div class="row panel heading-border panel-primary bg-light" style="padding-top: 1em;">

{#        usuarios#}
    <div class="col-sm-6 col-md-6 light">
            <div class="panel bg-success light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-user"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ usuarios|length }}</b>
                </h2>
                <h5 class="text-white ">Usuarios</h5>
              </div>
            </div>
          </div>
{#        Trabajos#}
            <div class="col-sm-6 col-md-6">
            <div class="panel bg-alert light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-rocket"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ trabajos|length }}</b>
                </h2>
                <h5 class="text-white">Trabajos activos</h5>
              </div>
            </div>

          </div>
        {#        calificaciones#}
            <div class="col-sm-6 col-md-4">
            <div class="panel bg-primary light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-star-half-empty"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ calificaciones|length }}</b>
                </h2>
                <h5 class="text-white">Calificaciones realizadas</h5>
              </div>
            </div>

          </div>
        {#        comunas#}
            <div class="col-sm-6 col-md-4">
            <div class="panel bg-info light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-globe"></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ comunas_pega|length }}</b>
                </h2>
                <h5 class="text-white">Comunas en las que se ha publicado pega</h5>
              </div>
            </div>

          </div>
        <div class="col-sm-6 col-md-4">
            <div class="panel bg-info light of-h mb10">
              <div class="pn pl20 p5">
                <div class="icon-bg">
                  <i class="fa fa-calendar-check-o "></i>
                </div>
                <h2 class="mt15 lh15">
                  <b>{{ final_dif }}</b>
                </h2>
                <h5 class="text-white">Tiempo promedio de postulación</h5>
              </div>
            </div>

          </div>
{#        container row#}
    </div>
    </div>
{#    CONTAINER NUEVO#}

    {#   FILTRO     #}
        <div class="panel heading-border panel-primary text-center">
                <div class="panel-body bg-light">
                      <h5>¡Filtra los graficos por fechas!</h5>
        <form method="post" action="{% url 'index_admin' %}" id="formulario_trabajo" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                    <div class="col-md-2">
                    </div>

                    <div class="col-md-4">
                        <label for="Fecha">Fecha de inicio:</label>
                        <input type="date" name="fecha_inicio"  id="fecha_inicio" class="form-control" placeholder="Ingrese la fecha del trabajo" required="">
                    </div>
                    <div class="col-md-4">
                        <label for="Hora">Fecha de termino:</label>

                             <input type="date" name="fecha_fin"  id="fecha_fin" class="form-control" placeholder="Ingrese la hora del trabajo" required="">
                    </div>
                    <div class="col-md-2">

                                        <button class="btn btn-rounded btn-primary" id="submit" style="width: 7em;">Filtrar</button>

                    </div>


                </div>
        </form>
                </div>
    </div>
<div class="container">
                    <div class="row">
                        <div class="panel panel-default col-md-12">
                            <canvas id="myChart2" width="300" height="300"></canvas>
                        </div>
                        <div class="panel panel-default col-md-12">
                            <canvas id="myChart3" width="300" height="300"></canvas>
                        </div>
                        <div class="panel panel-default col-md-12">
                            <canvas id="myChart" width="300" height="300"></canvas>
                        </div>


                    </div>
                </div>
{#<script src="{% static 'charts/Chart.bundle.js' %}"></script>#}
{#<script src="{% static 'charts/Chart.bundle.min.js' %}"></script>#}
{#<script src="{% static 'charts/Chart.js' %}"></script>#}
{#<script src="{% static 'charts/Chart.min.js' %}"></script>#}
{#    <script src="https://raw.githubusercontent.com/nnnick/Chart.js/master/Chart.min.js" ></script>#}

{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
{#<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['5 estrellas', '4 estrellas', '3 estrellas', '2 estrellas', '1 estrellas'],
        datasets: [{
            label: 'Calificaciones',
            data: [{{ calificacion5|length }}, {{ calificacion4|length }}, {{ calificacion3|length }}, {{ calificacion2|length }}, {{ calificacion1|length }}],
            {#data: [12, 19, 3, 5, 2],#}
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
                responsive: true,
        maintainAspectRatio: false,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
         title: {
      display: true,
      text: 'Calificaciones'
    }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {

        {%  if comunas_frecuentes|length == 0 %}
            labels:
            [],
        {%  elif comunas_frecuentes|length == 1 %}
            labels:
            ['{{ comunas_frecuentes.0.Direccion__Comuna__nombre }}'],
        {%  elif comunas_frecuentes|length == 2 %}
            labels:
            ['{{ comunas_frecuentes.0.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.1.Direccion__Comuna__nombre }}'],
        {%  elif comunas_frecuentes|length == 3 %}
            labels:
            ['{{ comunas_frecuentes.0.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.1.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.2.Direccion__Comuna__nombre }}'],
        {%  elif comunas_frecuentes|length == 4 %}
            labels:
            ['{{ comunas_frecuentes.0.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.1.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.2.Direccion__Comuna__nombre }}','{{ comunas_frecuentes.3.Direccion__Comuna__nombre }}' ],
        {%  elif comunas_frecuentes|length >= 5 %}
            labels:
            ['{{ comunas_frecuentes.0.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.1.Direccion__Comuna__nombre }}', '{{ comunas_frecuentes.2.Direccion__Comuna__nombre }}','{{ comunas_frecuentes.3.Direccion__Comuna__nombre }}','{{ comunas_frecuentes.4.Direccion__Comuna__nombre }}' ],
        {% endif %}
        datasets: [{
            label: 'Comunas con más demanda',
            data:
                [{{ comunas_frecuentes.0.count }}, {{ comunas_frecuentes.1.count }},{{ comunas_frecuentes.2.count }},{{ comunas_frecuentes.3.count }},{{ comunas_frecuentes.4.count }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
                responsive: true,
        maintainAspectRatio: false,

        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
         title: {
      display: true,
      text: 'Comunas con más demandadas'
    }
    }
});
</script>
<script>
var ctx = document.getElementById('myChart3').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'doughnut',

    data: {
        labels: ['1-8', '8-12', '12-16', '16-20', '20-24'],
        datasets: [{
            label: 'Calificaciones',
            data: [{{ horas_1_8|length }}, {{ horas_8_12|length }}, {{ horas_12_16|length }}, {{ horas_16_20|length }}, {{ horas_20_24|length }}],
            {#data: [22, 19, 99, 23, 15],#}
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        title: {
      display: true,
      text: 'Rango horario con mas demanda'
    }
    }
});
</script>

{#<script src="{% static 'vendor/jquery/utility.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/jquery-1.11.1.min.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/main.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/jquery-ui.min.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/demo.js' %}"></script>#}
{#<script src="{% static 'vendor/jquery/main.js' %}"></script>#}
{#<link href="{% static 'vendor/jquery/admin-forms.css' %}" type="text/css" rel="stylesheet">#}
{#<link href="{% static 'vendor/jquery/theme.css' %}" type="text/css" rel="stylesheet">#}
{#<link href="{% static 'vendor/jquery/theme.min.css' %}" type="text/css" rel="stylesheet">#}
{#<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">#}
{% endblock %}