{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Registro histórico de tus pegas realizadas!</h4>

  Este es el registro de tus trabajos realizadas! <hr>
    </div>



    <div class="container">
    <div class="row">
                          {% for i in trabajos  %}

    <div class="col-md-6">
              <div class="panel panel-visible" id="spy2">
                <div class="panel-heading">
                  <div class="panel-title hidden-xs">

                    <span class="glyphicon glyphicon-tasks"></span>¡Postulantes para {{ i.Nombre }}! Vacantes disponibles: {{ i.Vacantes }} </div>
                </div>
                <div class="panel-body pn">
                  <div id="datatable2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                      <table id="example" class="table table-striped table-hover dataTable no-footer" id="datatable2" cellspacing="0" width="100%" role="grid" aria-describedby="datatable2_info" style="width: 100%;">
                    <thead>
                      <tr role="row"><th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 236px;">Postulante</th><th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 83px;">Fecha</th><th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 51px;">Hora</th><th class="sorting" tabindex="0" aria-controls="datatable2" rowspan="1" colspan="1" aria-label="Age: activate to sort column ascending" style="width: 25%;">Accion</th></tr>
                    </thead>
                    <tbody>
                    {% if i.Vacantes == 0 %}
                        YA TIENES TODOS TUS POSTULANTES CARNAL, VE TUS TRABAJOS ACTIVOS!
                    {% else %}
                        {% for z in postulantes %}
{#                            {{ z.Trabajo.pk }}#}
                            {% if z.Trabajo.pk == i.pk %}
                                <tr role="row" class="even">
                                    <td class="sorting_1">{{ z.Postulante.Nombre }}</td>
                                    <td>{{ z.Fecha }}</td>
                                    <td>{{ z.Hora   }}</td>
                                    <td><a href="{% url 'visualizar_perfil_postulante' z.pk %}" class="btn btn-primary">Visualizar perfil de postulante</a></td>

                                </tr>
                            {% endif %}

                            {% endfor %}
                    {% endif %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
            </div>

                        {% endfor %}

        </div>
    </div>
    </div>


{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}