{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/admin-tools/admin-forms/css/admin-forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/img/favicon.ico'%} ">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

{% block section_contenido %}
    <div class="container">
        <div class="row img-centered">
          <div class="col-md-1">
          </div>
          <div class="col-md-2">
            <span class="footer-legal"><img class='img-responsive' src="/media/{{ usuario.Imagen }}" /></span>
          </div>

          <div class="col-md-8">
            <h1><span style ="font-weight: bold; "class="">{{ usuario.Nombre }}</span></h1><hr>
            <span class="footer-lega">{{ usuario.Correo }}</span><br>
            <span class="footer-lega">{{ usuario.Direccion.Ciudad }}, {{ usuario.Direccion.Pais }}.</span><br>
            <span class="footer-lega">{{ usuario.Direccion.Comuna }}, {{ usuario.Direccion.Calle }} {{ usuario.Direccion.Numero_de_calle }}.</span><br>
            <span class="footer-lega">{{ usuario.Telefono_C }}</span>
          </div>
        </div>
    <hr>

    <div class="row text-center">

    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
              <h3>Redes sociales</h3>

  Estas son las redes vinculadas de {{ usuario.Nombre }}<hr>

            {% if usuario.Twitter %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Twitter }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/twitter.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div>
                </div>
            {% endif %}

            {% if usuario.Facebook %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Facebook }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/facebook.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}

            {% if usuario.Linkedin %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Linkedin }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/linkedin.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}


            {% if usuario.Instagram %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Instagram }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/instagram.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}



{#            <div class="card col-md-6" style="padding:1%;width: 33%;height: 100%;"  >#}
{#                <div class="text-center">#}
{#                    <a href="https://www.facebook.com/holasoyeldani" class="href" target="_blank">#}
{#                     <img class="class='img-responsive" src="/media/facebook.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">#}
{#                    </a>#}
{#                </div>#}
{##}
{##}
{#              </div>#}
{#              <div class="card col-md-6" style="padding:1%;width: 33%;height: 100%;"  >#}
{#                <div class="text-center">#}
{#                    <a href="https://twitter.com/Montecinosd97" class="href" target="_blank">#}
{#                     <img class="class='img-responsive" src="/media/twitter.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">#}
{#                    </a>#}
{#                </div>#}
{##}
{#              </div>#}
{#            <div class="card col-md-6" style="padding:1%;width: 33%;height: 100%;"  >#}
{#                <div class="text-center">#}
{#                    <a href="https://www.linkedin.com/in/daniel-ignacio-montecinos-zambra-833b35182/" class="href" target="_blank">#}
{#                     <img class="class='img-responsive" src="/media/linkedin.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">#}
{#                    </a>#}
{#                </div>#}

              </div>
        <div class="col-md-6">
            <div class="col-md-6 pr40 border-right">
                        <span class="rating block">
                          <span class="lbl-text">Customization</span>
                          <input class="rating-input" id="r5" type="radio" name="custom" checked="">
                          <label class="rating-star" for="r5">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="r4" type="radio" name="custom">
                          <label class="rating-star" for="r4">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="r3" type="radio" name="custom">
                          <label class="rating-star" for="r3">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="r2" type="radio" name="custom">
                          <label class="rating-star" for="r2">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="r1" type="radio" name="custom">
                          <label class="rating-star" for="r1">
                            <i class="fa fa-star"></i>
                          </label>
                        </span>
                        <span class="rating block">
                          <span class="lbl-text">Reliability</span>
                          <input class="rating-input" id="rr5" type="radio" name="reliable">
                          <label class="rating-star" for="rr5">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rr4" type="radio" name="reliable" checked="">
                          <label class="rating-star" for="rr4">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rr3" type="radio" name="reliable">
                          <label class="rating-star" for="rr3">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rr2" type="radio" name="reliable">
                          <label class="rating-star" for="rr2">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rr1" type="radio" name="reliable">
                          <label class="rating-star" for="rr1">
                            <i class="fa fa-star"></i>
                          </label>
                        </span>
                        <span class="rating block">
                          <span class="lbl-text">Relevance</span>
                          <input class="rating-input" id="rx5" type="radio" name="relevance">
                          <label class="rating-star" for="rx5">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rx4" type="radio" name="relevance">
                          <label class="rating-star" for="rx4">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rx3" type="radio" name="relevance" checked="">
                          <label class="rating-star" for="rx3">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rx2" type="radio" name="relevance">
                          <label class="rating-star" for="rx2">
                            <i class="fa fa-star"></i>
                          </label>
                          <input class="rating-input" id="rx1" type="radio" name="relevance">
                          <label class="rating-star" for="rx1">
                            <i class="fa fa-star"></i>
                          </label>
                        </span>
                      </div>
        </div>
    </div>
        </div>


    </div>
    </div>
{#    {% for i in portafolio %}#}
{#                {% for z in i %}#}
{#                    {{ z.Nombre }}#}
{##}
{#                {% endfor %}#}
{#{% endfor %}#}
    <style>
    .zoom {
  padding: 50px;
  background-color: green;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
</style>
        <div class="container">
<div class="row">

        {% for i in aptidudes_validadas %}
{#            {{ i }}#}
          <div class="card col-md-6" style="padding:1%;width: 33%;height: 100%;"  >
<div class="text-center">Portafolio</div>
            <img class="class='img-responsive" src="/media/{{ i.Aptitud_validada.Imagen }}" alt="Card image" style="margin:2px;width:350px; height: 130px;">
            <div class="card-body ">
              <h4 class="card-title text-center">{{ i.Aptitud_validada.Nombre }}


                  <a style="float: right;" href="{% url 'vincular_portafolio' i.pk %}" >
  <span class="glyphicon glyphicon-plus-sign"  aria-hidden="true"></span>
                  </a></h4>

              <p class="card-text"> {{ i.Descripccion }}</p>

                <hr>
{#                <div class="text-center"style="height: 100px;overflow: auto;"><a href="#" class="btn btn-primary  stretched-link">Ver portafolio</a></div>#}
            </div>
            <div class="card-body" style="height: 100px;overflow: auto;">
                <ul class="list-group list-group-flush">
                        {% for portafolio_aptitud in portafolio %}
                {% for z in portafolio_aptitud %}


                 {% if i.Aptitud_validada == z.aptitude_validadas.Aptitud_validada %}{{ z.Nombre }}

<embed src="/media/{{ z.pdf }}#view=FitH" width="100%" height="100%" /></li>
                {% endif %}
                {% endfor %}
                {% endfor %}
                  </ul>
            </div>

          </div>
    {% endfor %}
            </div>

        </div>

{% endblock %}

