{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Trabajos activos!</h4>

  Estas son las pegas las cuales están acordadas y se están realizando! <hr>
    </div>



    <div class="container">
    <div class="row">
{% for i in trabajos_acordados  %}
<div class="col-md-4 col-lg-4 admin-grid" id="grid-0">
              <div class="panel" id="p5">
                  <div class="panel-heading">
                    <span class="panel-title"> {{i.postulante_acordado.Trabajo.Nombre }} </span>
                  <span class="panel-controls"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span></div>
                  <div class="panel-editbox" style="display: none;"><input type="text" class="form-control" value="Column Graph"></div><div class="panel-colorbox" style="display: none;"> <span class="bg-white" data-panel-color="panel-default"></span> <span class="bg-primary" data-panel-color="panel-primary"></span> <span class="bg-info" data-panel-color="panel-info"></span> <span class="bg-success" data-panel-color="panel-success"></span> <span class="bg-warning" data-panel-color="panel-warning"></span> <span class="bg-danger" data-panel-color="panel-danger"></span> <span class="bg-alert" data-panel-color="panel-alert"></span> <span class="bg-system" data-panel-color="panel-system"></span> <span class="bg-dark" data-panel-color="panel-dark"></span> </div>
                  <div class="panel-body pn" style="display: block;">

                  <div class="row">
                    <div class="col-md-4">
                        <img style="height: 10em;width: 10em; border-radius: 10em;" class='img-responsive' src="/media/{{ i.postulante_acordado.Trabajo.Imagen }}" />

                    </div>
                      <div class="col-md-8">
                          <div class="row">Acordado con: {{i.postulante_acordado.Postulante.Nombre }}</div>
                          <div class="row">Mail: {{ i.postulante_acordado.Postulante.Correo }}</div>
                          <div class="row">Telefono: {{ i.postulante_acordado.Postulante.Telefono_C }}</div>
                          <hr  style="padding: 0%;margin: 0.5em;">
                          <div class="row">Monto acordado: ${{ i.postulante_acordado.Trabajo.Monto_pago }}.-</div>
                          <div class="row">Fecha: {{ i.postulante_acordado.Trabajo.Fecha }}, {{ i.postulante_acordado.Trabajo.Hora }}.-</div>



                      </div>
                      </div>
                      <div class="row">

{#                      <div class="col-md-12" style="padding: 0%;margin:0%;"><hr></div>#}

                        <hr style="padding: 0%;margin: 0.5em;">
                      <div class="col-md-12 text-center"><a href="" data-toggle="modal" data-target="#myModal{{ i.pk }}" class="btn btn-primary" >Este trabajo ha concluido</a></div>
{#                      <div class="col-md-12 text-center"><a href="/index/%5Evisualizar_perfil_postulante/1" class="btn btn-primary" >Este trabajo ha concluido</a></div>#}
                        </div>

                    </div>
                  </div>
                </div>

  <div class="modal fade" id="myModal{{ i.pk }}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Finalizar trabajo</h4>
        </div>
        <div class="modal-body text-center">
          <p>¡Listo! Trabajo realizado por {{ i.postulante_acordado.Postulante.Nombre}}. A continuación, puedes calificarlo para que los demás usuarios puedan saber como es trabajar con él. ;)</p>
          <hr>
            <p>Púntua la pega realizado</p>
            <form  method="post" action="{% url 'cerrar_trabajo_publicado' i.pk %}" id="calificacion" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="rating">
                              <label>
                                <input type="radio" name="stars" value="1" >
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="2" >
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="3" >
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="4"  >
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="5" checked="">
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
</div>
                    <div class="col-md-12">
                        <p>Escribe algo sobre la pega realizada</p>
                        <textarea name="comentario" id="comentario" rows="4" cols="50"></textarea>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="submit">Calificar y terminar pega!</button>
                    </div>
                    </form>

{#            <p>Escribe algo sobre la pega realizada</p>#}
{#                            <textarea rows="4" cols="50">#}
{#                            </textarea>#}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
                          {% endfor %}

    </div>
    </div>
<style>
                                .rating {
                              display: inline-block;
                              position: relative;
                              height: 50px;
                              line-height: 50px;
                              font-size: 50px;
                            }

                            .rating label {
                              position: absolute;
                              top: 0;
                              left: 0;
                              height: 100%;
                              cursor: pointer;
                            }

                            .rating label:last-child {
                              position: static;
                            }

                            .rating label:nth-child(1) {
                              z-index: 5;
                            }

                            .rating label:nth-child(2) {
                              z-index: 4;
                            }

                            .rating label:nth-child(3) {
                              z-index: 3;
                            }

                            .rating label:nth-child(4) {
                              z-index: 2;
                            }

                            .rating label:nth-child(5) {
                              z-index: 1;
                            }

                            .rating label input {
                              position: absolute;
                              top: 0;
                              left: 0;
                              opacity: 0;
                            }

                            .rating label .icon {
                              float: left;
                              color: transparent;
                            }

                            .rating label:last-child .icon {
                              color: #000;
                            }

                            .rating:not(:hover) label input:checked ~ .icon,
                            .rating:hover label:hover input ~ .icon {
                              color: #09f;
                            }

                            .rating label input:focus:not(:checked) ~ .icon:last-child {
                              color: #000;
                              text-shadow: 0 0 5px #09f;
                            }
                            </style>

{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
{% endblock %}