{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/admin-tools/admin-forms/css/admin-forms.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/img/favicon.ico'%} ">
  <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

{% block section_contenido %}
        <div class="row text-center">

  <h4>¡Revisa la pega!</h4>

  Revisa en detalle los campos de la pega, si te gusta, ¡postula! ;) <hr>
    </div>

    <div class="container">
{#    perfil#}
          <div class="col-md-2">
            <span class="footer-legal" ><img style="height: 16em;width: 16em; border-radius: 10em;" class='img-responsive' src="/media/{{ usuario.Imagen }}" /></span>
          </div>
          <div class="col-md-4">
            <h1><span style ="font-weight: bold; "class="">{{ usuario.Nombre }}</span></h1><hr>
          <div class="row" style="padding-left: 1em;">
              <button class="btn btn-primary" data-target="{{ usuario.pk }}" id="ajax_watson" name="ajax_watson">¡Analisis de sensibilidad con Watson!</button>

          </div>

            {% if usuario.Twitter %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Twitter }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/twitter.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div>
                </div>
            {% endif %}

            {% if usuario.Facebook %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Facebook }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/facebook.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}

            {% if usuario.Linkedin %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Linkedin }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/linkedin.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}


            {% if usuario.Instagram %}
                <div class="card col-md-4" style="padding:1%;width: 25%;height: 100%;"  >
                <div class="text-center">
                    <a href="{{ usuario.Instagram }}" class="href" target="_blank">
                     <img class="class='img-responsive" src="/media/instagram.png" alt="Card image" style="margin:2px;width:80%; height: 80%;">
                    </a>
                </div></div>
            {% endif %}


                       <style>
                                .rating {
                              display: inline-block;
                              position: relative;
                              height: 50px;
                              line-height: 50px;
                              font-size: 50px;
                            }

                            .rating label {
                              position: absolute;
                              top: 0;
                              left: 0;
                              height: 100%;
                              cursor: pointer;
                            }

                            .rating label:last-child {
                              position: static;
                            }

                            .rating label:nth-child(1) {
                              z-index: 5;
                            }

                            .rating label:nth-child(2) {
                              z-index: 4;
                            }

                            .rating label:nth-child(3) {
                              z-index: 3;
                            }

                            .rating label:nth-child(4) {
                              z-index: 2;
                            }

                            .rating label:nth-child(5) {
                              z-index: 1;
                            }

                            .rating label input {
                              position: absolute;
                              top: 0;
                              left: 0;
                              opacity: 0;
                            }

                            .rating label .icon {
                              float: left;
                              color: transparent;
                            }

                            .rating label:last-child .icon {
                              color: #000;
                            }

                            .rating:not(:hover) label input:checked ~ .icon,
                            .rating:hover label:hover input ~ .icon {
                              color: #09f;
                            }

                            .rating label input:focus:not(:checked) ~ .icon:last-child {
                              color: #000;
                              text-shadow: 0 0 5px #09f;
                            }
                            </style>
{#                <h5>Valoración: 4 Estrellas <span class="icon">★</span></h5>#}
                            <form class="rating">

                              <label>
                                <input type="radio" name="stars" value="1"  disabled/>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="2" disabled/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="3" disabled/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="4" checked disabled/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                              <label>
                                <input type="radio" name="stars" value="5" disabled/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                              </label>
                            </form>

{#                            <script>#}
{#                                $(':radio').change(function() {#}
{#                              console.log('New star rating: ' + this.value);#}
{#                            });#}
{#                            </script>#}

          </div>
{#     pega #}
        <div class="col-md-2">
            <span class="footer-legal" ><img style="height: 16em;width: 16em; border-radius: 10em;" class='img-responsive' src="/media/{{ pega.Imagen }}" /></span>
          </div>
                  <div class="col-md-4">
            <h1><span style ="font-weight: bold; "class="">{{ pega.Area.Nombre }} - {{ pega.Nombre }}</span></h1><hr>
            <span class="footer-lega">Descripción: {{ pega.Detalle }}</span><br>
            <span class="footer-lega">Pago: ${{ pega.Monto_pago }}</span><br>
            <span class="footer-lega">Dirección: {{ pega.Direccion.Comuna}}, {{ pega.Direccion.Calle }} {{ pega.Direccion.Numero_de_calle }}</span><br>
            <span class="footer-lega">Fecha: {{ pega.Fecha }} {{ pega.Hora }}</span><br>
            <span class="footer-lega">Fecha: {{ pega.rango_etario }}</span>
          </div>



{#            Nombre: {{ pega.Nombre }}#}
{#            Dirección: {{ pega.Direccion.Comuna}}, {{ pega.Direccion.Calle }} {{ pega.Direccion.Numero_de_calle }}#}
{#            Fecha: {{ pega.Fecha }} {{ pega.Hora }}#}
        </div>
    <hr>

    <div class="row text-center">

    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-12 text-center">

        <h1>¿Te gusta? ¡Postula!</h1>

{#<h2>Modal Example</h2>#}
{##}
  <!-- Modal -->
            <a href="{% url 'postular_inicial' pega.pk %}" class="btn btn-primary" data-toggle="modal" data-target="#myModal">¡Postular a esta pega!</a>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">¡Postulación lista! :)</h4>
        </div>
        <div class="modal-body">
          <p>Haz postulado a la pega {{ pega.Nombre }}.<br> ¡Mantente atento a tus notificaciones!</p>
        </div>
        <div class="modal-footer">
            <a href="{% url 'buscar_trabajo' request.user.pk %}" class="btn btn-primary"> Cerrar</a>
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
        </div>
      </div>
    </div>
  </div>

{#            MODAL WATSON #}

              <div class="modal fade" id="myModal_watson" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">IBM Watson analytics :)</h4>
        </div>
        <div class="modal-body">
          <p>Este es el análisis de sensibilidad. Watson a partir de las calificaciones asociados al historico de pegas del usuario detecta el nivel de confianza del mismo :) <br><hr>
            <div id="respuesta_watson"></div>
        </div>

        <div class="modal-footer" id="modal_footer_watson">
{#            <a href="{% url 'buscar_trabajo' request.user.pk %}" class="btn btn-primary"> Cerrar</a>#}
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
        </div>
      </div>
    </div>
  </div>
            {#  <div class="modal fade" id="myModal" role="dialog">#}
{#    <div class="modal-dialog">#}
{##}
{#      <!-- Modal content-->#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#          <h4 class="modal-title">Modal Header</h4>#}
{#        </div>#}
{#        <div class="modal-body">#}
{#          <p>Some text in the modal.</p>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}


              </div>

    </div>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>

$("#ajax_watson").click(function () {
    {#var input = $('#user-input').val();#}
    {#alert("hola");#}
    var a = $(this).data("target");

    $('#myModal_watson').modal('show');
    $.ajax({
        url: '{% url 'getSentimentValue'  %}',
        data: {
          'inputValue': 'hola',
          'pk_user': a
        },
        dataType: 'json',
        beforeSend: function() {
              $("#respuesta_watson").html('<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i> <span class="sr-only">Loading...</span>');
           },
        success: function (data) {
            console.log(data);
          document.getElementById('respuesta_watson').innerHTML = 'Puntaje obtenido: '+ data["sentimiento"] + '</br>Satisfaccción de usuario: '+data['satisfaccion'];
        }
      });
    });

</script>
{% endblock %}

