{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Trabajos activos!</h4>

  Estas son las pegas las cuales están acordadas y se están realizando! <hr>
    </div>




    <div class="container">
    <div class="row">

{#    #MOLDE CON LAS IDS DE LOS TRABAJOS#}
    {% if trabajos_pks %}
    {% else %}
    <div class="text-center"><div class=" btn btn-lg btn-rounded btn-info" style="margin-top: 0em;"> <h4>No tienes trabajos acordados aún<br> ¡Elige tus postulantes  en
        <a style="color:lightskyblue" href="{% url 'visualizar_postulantes_a_trabajos' request.user.pk %}">Visualizar postulantes</a>!</h4></div></div>
    {% endif %}
    {% for i in trabajos_pks %}
<div class="col-md-4 col-lg-4 admin-grid" >

              <div class="panel" id="p5">
                  <div class="panel-heading" id="TrabajoAcordado{{ i}}"> Personas acordadas: {{ i.3 }}
{#                      <script>#}
{#                         document.getElementById('TrabajoAcordado{{ i}}').innerHTML += '<br>Some new content!';#}
{##}
{#                      </script>#}
{#                                         0                    1                                       2                                       #}
{#                      (i.postulante_acordado.Trabajo.pk, i.postulante_acordado.Trabajo.Nombre,i.postulante_acordado.Trabajo.Imagen)#}
                    <span class="panel-title" id="NombreTrabajo{{ i}}"> </span>
                  <span class="panel-controls"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span></div>
                  <div class="panel-editbox" style="display: none;"><input type="text" class="form-control" value="Column Graph"></div><div class="panel-colorbox" style="display: none;"> <span class="bg-white" data-panel-color="panel-default"></span> <span class="bg-primary" data-panel-color="panel-primary"></span> <span class="bg-info" data-panel-color="panel-info"></span> <span class="bg-success" data-panel-color="panel-success"></span> <span class="bg-warning" data-panel-color="panel-warning"></span> <span class="bg-danger" data-panel-color="panel-danger"></span> <span class="bg-alert" data-panel-color="panel-alert"></span> <span class="bg-system" data-panel-color="panel-system"></span> <span class="bg-dark" data-panel-color="panel-dark"></span> </div>
                  <div class="panel-body pn" style="display: block;">
<h5 class="text-center">{{ i.1 }}</h5>
                      <h6 class="text-center">Paga acordada: ${{ i.4 }}</h6>
                      <h6 class="text-center">Fecha: {{ i.5 }}</h6>
                                                <hr  style="padding: 0%;margin: 0.5em;">

                  <div class="row">
                    <div class="col-md-4">
                        <img style="height: 10em;width: 10em; border-radius: 10em;" class='img-responsive' src="/media/{{ i.2  }}" />

                    </div>
                      <div class="col-md-8" id="acordados{{ i.0 }}" style="overflow:auto;width: 60%;height: 11em;">



                      </div>
                      </div>
                      <div class="row">

{#                      <div class="col-md-12" style="padding: 0%;margin:0%;"><hr></div>#}

                        <hr style="padding: 0%;margin: 0.5em;">
                      <div class="col-md-12 text-center"><a href="" data-toggle="modal" data-target="#myModal{{ i.0 }}" class="btn btn-rounded btn-primary" >Este trabajo ha concluido</a></div>
{#                      <div class="col-md-12 text-center"><a href="/index/%5Evisualizar_perfil_postulante/1" class="btn btn-primary" >Este trabajo ha concluido</a></div>#}
                        </div>

                    </div>
                  </div>
                </div>

{#        #MODALSSS#}
        <div class="modal fade" id="myModal{{ i.0 }}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Finalizar trabajo</h4>
        </div>
        <div class="modal-body text-center">
          <p>A continuación estás dando por finalizado el trabajo. ¡Recuerda calificar luego a las personas que hicieron la pega!</p>

            <p>¿Quieres terminar el proceso? Pulsa el botón Terminar pega</p>
            <form  method="post" action="{% url 'cerrar_trabajo_publicado' i.0 %}" id="calificacion{{ i.0 }}" enctype="multipart/form-data">
                {% csrf_token %}

                    <div class="col-md-12">
                        <button class="btn btn-primary" id="submit">¡Terminar pega!</button>
                    </div>
                    </form>
    <hr>
{#            <p>Escribe algo sobre la pega realizada</p>#}
{#                            <textarea rows="4" cols="50">#}
{#                            </textarea>#}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default text-center" data-dismiss="modal">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
    {% endfor %}
{% for i in trabajos_acordados  %}

     <script>
         document.getElementById('acordados{{ i.postulante_acordado.Trabajo.pk }}').innerHTML += '                          <div class="row">Acordado con: {{i.postulante_acordado.Postulante.Nombre }}</div>\n' +
             '                          <div class="row">Mail: {{ i.postulante_acordado.Postulante.Correo }}</div>\n' +
             '                          <div class="row">Telefono: {{ i.postulante_acordado.Postulante.Telefono_C }}</div>\n' +
             '                          <hr  style="padding: 0%;margin: 0.5em;">\n' ;
             {#'                          <div class="row">Monto acordado: ${{ i.postulante_acordado.Trabajo.Monto_pago }}.-</div>\n' +#}
             {#'                          <div class="row">Fecha: {{ i.postulante_acordado.Trabajo.Fecha }}, {{ i.postulante_acordado.Trabajo.Hora }}.-</div>\n';#}


     </script>
                          {% endfor %}

    </div>
    </div>

{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#    <script src="{% static 'vendor/jquery/jquery.steps.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.steps.min.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.smartWizard.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.smartWizard.min.js' %}"></script>#}
{#    <link href="{% static 'vendor/jquery/jquery.steps.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/admin-forms.css' %}" rel="stylesheet">#}

{#    <link href="{% static 'vendor/jquery/smart_wizard.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_arrows.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_circles.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_dots.css' %}" rel="stylesheet">#}
{##}
{#<script type="text/javascript">#}
{#        $(document).ready(function(){#}
{##}
{#            // Step show event#}
{#            $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {#}
{#               //alert("You are on step "+stepNumber+" now");#}
{#               if(stepPosition === 'first'){#}
{#                   $("#prev-btn").addClass('disabled');#}
{#               }else if(stepPosition === 'final'){#}
{#                   $("#next-btn").addClass('disabled');#}
{#               }else{#}
{#                   $("#prev-btn").removeClass('disabled');#}
{#                   $("#next-btn").removeClass('disabled');#}
{#               }#}
{#            });#}
{##}
{#            // Toolbar extra buttons#}
{#            var btnFinish = $('<button></button>').text('Finish')#}
{#                                             .addClass('btn btn-info')#}
{#                                             .on('click', function(){ alert('Finish Clicked'); });#}
{#            var btnCancel = $('<button></button>').text('Cancel')#}
{#                                             .addClass('btn btn-danger')#}
{#                                             .on('click', function(){ $('#smartwizard').smartWizard("reset"); });#}
{##}
{#            // Smart Wizard 1#}
{#            $('#smartwizard').smartWizard({#}
{#                    selected: 0,#}
{#                    theme: 'arrows',#}
{#                    transitionEffect:'fade',#}
{#                    showStepURLhash: false,#}
{#                    toolbarSettings: {toolbarPosition: 'both',#}
{#                                      toolbarExtraButtons: [btnFinish, btnCancel]#}
{#                                    }#}
{#            });#}
{##}
{#        });#}
{#    </script>#}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>


{% endblock %}