{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">

{% block section_contenido %}
    <div class="row text-center">

  <h4>Trabajos activos!</h4>

  Estas son las pegas las cuales están acordadas y se están realizando! <hr>
    </div>




    <div class="container">

{#   <div class="row d-flex align-items-center p-3 my-3 text-white-50">#}
{#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#          Click to launch Smart Wizard modal#}
{#        </button>#}
{#      </div>#}
{#    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">#}
{#        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">#}
{#          <div class="modal-content">#}
{#            <div class="modal-header">#}
{#              <h5 class="modal-title" id="exampleModalLabel">Smart Wizard modal</h5>#}
{#              <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                <span aria-hidden="true">×</span>#}
{#              </button>#}
{#            </div>#}
{#            <div class="modal-body">#}
{##}
{#              <!-- Smart Wizard HTML -->#}
{#              <div id="smartwizard" class="sw-main sw-theme-arrows">#}
{#                  <ul class="nav nav-tabs step-anchor">#}
{#                      <li class="nav-item done"><a href="#step-1" class="nav-link">Step Title1<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item done"><a href="#step-2" class="nav-link">Step Title2<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item done"><a href="#step-3" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-4" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-4" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-5" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-6" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-7" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                      <li class="nav-item active"><a href="#step-8" class="nav-link">Step Title<br><small>Step description</small></a></li>#}
{#                  </ul>#}
{##}
{#                  <div class="btn-toolbar sw-toolbar sw-toolbar-top justify-content-end"><div class="btn-group mr-2 sw-btn-group" role="group"><button class="btn btn-secondary sw-btn-prev" type="button">Previous</button><button class="btn btn-secondary sw-btn-next disabled" type="button">Next</button></div><div class="btn-group mr-2 sw-btn-group-extra" role="group"><button class="btn btn-info">Finish</button><button class="btn btn-danger">Cancel</button></div></div><div class="sw-container tab-content" style="min-height: 24px;">#}
{#                      <div id="step-1" class="tab-pane step-content" style="display: none;">#}
{#                          Step Content#}
{#                      </div>#}
{#                      <div id="step-2" class="tab-pane step-content" style="display: none;">#}
{#                          Step Content2#}
{#                      </div>#}
{#                      <div id="step-3" class="tab-pane step-content" style="display: none;">#}
{#                          Step Content3#}
{#                      </div>#}
{#                      <div id="step-4" class="tab-pane step-content" style="display: block;">#}
{#                          Step Content4#}
{#                      </div>#}
{#                  </div>#}
{#                  <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">#}
{#                      <div class="btn-group mr-2 sw-btn-group" role="group">#}
{#                          <button class="btn btn-secondary sw-btn-prev" type="button">Previous</button>#}
{#                          <button class="btn btn-secondary sw-btn-next disabled" type="button">Next</button>#}
{#                      </div>#}
{#                      <div class="btn-group mr-2 sw-btn-group-extra" role="group">#}
{#                          <button class="btn btn-info">Finish</button>#}
{#                          <button class="btn btn-danger">Cancel</button>#}
{#                      </div>#}
{#                  </div>#}
{#              </div>#}
{##}
{#            </div>#}
{#            <div class="modal-footer">#}
{#              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
    <div class="row">

{#    #MOLDE CON LAS IDS DE LOS TRABAJOS#}
    {% for i in trabajos_pks %}
<div class="col-md-4 col-lg-4 admin-grid" >

              <div class="panel" id="p5">
                  <div class="panel-heading" id="TrabajoAcordado{{ i}}"> Personas acordadas: {{ i.3 }}
{#                      <script>#}
{#                         document.getElementById('TrabajoAcordado{{ i}}').innerHTML += '<br>Some new content!';#}
{##}
{#                      </script>#}
{#                                         0                    1                                       2                                       #}
{#                      (i.postulante_acordado.Trabajo.pk, i.postulante_acordado.Trabajo.Nombre,i.postulante_acordado.Trabajo.Imagen)#}
                    <span class="panel-title" id="NombreTrabajo{{ i}}"> </span>
                  <span class="panel-controls"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span></div>
                  <div class="panel-editbox" style="display: none;"><input type="text" class="form-control" value="Column Graph"></div><div class="panel-colorbox" style="display: none;"> <span class="bg-white" data-panel-color="panel-default"></span> <span class="bg-primary" data-panel-color="panel-primary"></span> <span class="bg-info" data-panel-color="panel-info"></span> <span class="bg-success" data-panel-color="panel-success"></span> <span class="bg-warning" data-panel-color="panel-warning"></span> <span class="bg-danger" data-panel-color="panel-danger"></span> <span class="bg-alert" data-panel-color="panel-alert"></span> <span class="bg-system" data-panel-color="panel-system"></span> <span class="bg-dark" data-panel-color="panel-dark"></span> </div>
                  <div class="panel-body pn" style="display: block;">
<h5 class="text-center">{{ i.1 }}</h5>
                      <h6 class="text-center">Paga acordada: ${{ i.4 }}</h6>
                      <h6 class="text-center">Fecha: {{ i.5 }}, {{ i.6 }}</h6>
                                                <hr  style="padding: 0%;margin: 0.5em;">

                  <div class="row">
                    <div class="col-md-4">
                        <img style="height: 10em;width: 10em; border-radius: 10em;" class='img-responsive' src="/media/{{ i.2  }}" />

                    </div>
                      <div class="col-md-8" id="acordados{{ i.0 }}" style="overflow:auto;width: 60%;height: 11em;">



                      </div>
                      </div>
                      <div class="row">

{#                      <div class="col-md-12" style="padding: 0%;margin:0%;"><hr></div>#}

                        <hr style="padding: 0%;margin: 0.5em;">
                      <div class="col-md-12 text-center"><a href="" data-toggle="modal" data-target="#myModal{{ i.0 }}" class="btn btn-primary" >Este trabajo ha concluido</a></div>
{#                      <div class="col-md-12 text-center"><a href="/index/%5Evisualizar_perfil_postulante/1" class="btn btn-primary" >Este trabajo ha concluido</a></div>#}
                        </div>

                    </div>
                  </div>
                </div>

{#        #MODALSSS#}
        <div class="modal fade" id="myModal{{ i.0 }}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Finalizar trabajo</h4>
        </div>
        <div class="modal-body text-center">
          <p>¡Listo! Trabajo realizado por {{ i.postulante_acordado.Postulante.Nombre}}. A continuación, puedes calificarlo para que los demás usuarios puedan saber como es trabajar con él. ;)</p>
          <hr>
            <p>Púntua la pega realizado</p>
            <form  method="post" action="{% url 'cerrar_trabajo_publicado' i.0 %}" id="calificacion{{ i.0 }}" enctype="multipart/form-data">
                {% csrf_token %}
{#                <div class="rating">#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="1" >#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="2" >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="3" >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="4"  >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="5" checked="">#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#</div>#}
{#                    <div class="col-md-12">#}
{#                        <p>Escribe algo sobre la pega realizada</p>#}
{#                        <textarea name="comentario" id="comentario" rows="4" cols="50"></textarea>#}
{#                    </div>#}
                    <div class="col-md-12">
                        <button class="btn btn-primary" id="submit">Calificar y terminar pega!</button>
                    </div>
                    </form>

{#            <p>Escribe algo sobre la pega realizada</p>#}
{#                            <textarea rows="4" cols="50">#}
{#                            </textarea>#}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
    {% endfor %}
{% for i in trabajos_acordados  %}

     <script>
         document.getElementById('acordados{{ i.postulante_acordado.Trabajo.pk }}').innerHTML += '                          <div class="row">Acordado con: {{i.postulante_acordado.Postulante.Nombre }}</div>\n' +
             '                          <div class="row">Mail: {{ i.postulante_acordado.Postulante.Correo }}</div>\n' +
             '                          <div class="row">Telefono: {{ i.postulante_acordado.Postulante.Telefono_C }}</div>\n' +
             '                          <hr  style="padding: 0%;margin: 0.5em;">\n' ;
             {#'                          <div class="row">Monto acordado: ${{ i.postulante_acordado.Trabajo.Monto_pago }}.-</div>\n' +#}
             {#'                          <div class="row">Fecha: {{ i.postulante_acordado.Trabajo.Fecha }}, {{ i.postulante_acordado.Trabajo.Hora }}.-</div>\n';#}

         {#$("#NombreTrabajo{{ i.postulante_acordado.Trabajo.pk }}").html("hola");#}
         {#document.getElementById('calificacion{{ i.postulante_acordado.Trabajo.pk }}').innerHTML += ' <div class="rating">\n' +#}
         {#    '                              <label>\n' +#}
         {#    '                                <input type="radio" name="stars" value="1" >\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                              </label>\n' +#}
         {#    '                              <label>\n' +#}
         {#    '                                <input type="radio" name="stars" value="2" >\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                              </label>\n' +#}
         {#    '                              <label>\n' +#}
         {#    '                                <input type="radio" name="stars" value="3" >\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                              </label>\n' +#}
         {#    '                              <label>\n' +#}
         {#    '                                <input type="radio" name="stars" value="4"  >\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                              </label>\n' +#}
         {#    '                              <label>\n' +#}
         {#    '                                <input type="radio" name="stars" value="5" checked="">\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                                <span class="icon">★</span>\n' +#}
         {#    '                              </label>\n' +#}
         {#    '</div>\n' +#}
         {#    '                    <div class="col-md-12">\n' +#}
         {#    '                        <p>Escribe algo sobre la pega realizada</p>\n' +#}
         {#    '                        <textarea name="comentario" id="comentario" rows="4" cols="50"></textarea>\n' +#}
         {#    '                    </div>'#}

     </script>
{##}
{##}
{#    <div id="prueba">#}
{##}
{#    </div>#}
{#    <script>#}
{#    alert("jiji");#}
{#    </script>#}
{#    id="grid-0"#}
{#<div class="col-md-4 col-lg-4 admin-grid" >#}
{##}
{#              <div class="panel" id="p5">#}
{#                  <div class="panel-heading" id="TrabajoAcordado{{ i.postulante_acordado.Trabajo.pk }}">#}
{#                      <script>#}
{#                         document.getElementById('TrabajoAcordado{{ i.postulante_acordado.Trabajo.pk }}').innerHTML += '<br>Some new content!';#}
{##}
{#                      </script>#}
{#                    <span class="panel-title"> {{i.postulante_acordado.Trabajo.Nombre }} </span>#}
{#                  <span class="panel-controls"><a href="#" class="panel-control-loader"></a><a href="#" class="panel-control-remove"></a><a href="#" class="panel-control-title"></a><a href="#" class="panel-control-color"></a><a href="#" class="panel-control-collapse"></a><a href="#" class="panel-control-fullscreen"></a></span></div>#}
{#                  <div class="panel-editbox" style="display: none;"><input type="text" class="form-control" value="Column Graph"></div><div class="panel-colorbox" style="display: none;"> <span class="bg-white" data-panel-color="panel-default"></span> <span class="bg-primary" data-panel-color="panel-primary"></span> <span class="bg-info" data-panel-color="panel-info"></span> <span class="bg-success" data-panel-color="panel-success"></span> <span class="bg-warning" data-panel-color="panel-warning"></span> <span class="bg-danger" data-panel-color="panel-danger"></span> <span class="bg-alert" data-panel-color="panel-alert"></span> <span class="bg-system" data-panel-color="panel-system"></span> <span class="bg-dark" data-panel-color="panel-dark"></span> </div>#}
{#                  <div class="panel-body pn" style="display: block;">#}
{##}
{#                  <div class="row">#}
{#                    <div class="col-md-4">#}
{#                        <img style="height: 10em;width: 10em; border-radius: 10em;" class='img-responsive' src="/media/{{ i.postulante_acordado.Trabajo.Imagen }}" />#}
{##}
{#                    </div>#}
{#                      <div class="col-md-8">#}
{#                          <div class="row">Acordado con: {{i.postulante_acordado.Postulante.Nombre }}</div>#}
{#                          <div class="row">Mail: {{ i.postulante_acordado.Postulante.Correo }}</div>#}
{#                          <div class="row">Telefono: {{ i.postulante_acordado.Postulante.Telefono_C }}</div>#}
{#                          <hr  style="padding: 0%;margin: 0.5em;">#}
{#                          <div class="row">Monto acordado: ${{ i.postulante_acordado.Trabajo.Monto_pago }}.-</div>#}
{#                          <div class="row">Fecha: {{ i.postulante_acordado.Trabajo.Fecha }}, {{ i.postulante_acordado.Trabajo.Hora }}.-</div>#}
{##}
{##}
{##}
{#                      </div>#}
{#                      </div>#}
{#                      <div class="row">#}
{##}
{#                      <div class="col-md-12" style="padding: 0%;margin:0%;"><hr></div>#}
{##}
{#                        <hr style="padding: 0%;margin: 0.5em;">#}
{#                      <div class="col-md-12 text-center"><a href="" data-toggle="modal" data-target="#myModal{{ i.pk }}" class="btn btn-primary" >Este trabajo ha concluido</a></div>#}
{#                      <div class="col-md-12 text-center"><a href="/index/%5Evisualizar_perfil_postulante/1" class="btn btn-primary" >Este trabajo ha concluido</a></div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                  </div>#}
{#                </div>#}

{#  <div class="modal fade" id="myModal{{ i.pk }}" role="dialog">#}
{#    <div class="modal-dialog">#}
{##}
{#      <!-- Modal content-->#}
{#      <div class="modal-content">#}
{#        <div class="modal-header">#}
{#          <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#          <h4 class="modal-title">Finalizar trabajo</h4>#}
{#        </div>#}
{#        <div class="modal-body text-center">#}
{#          <p>¡Listo! Trabajo realizado por {{ i.postulante_acordado.Postulante.Nombre}}. A continuación, puedes calificarlo para que los demás usuarios puedan saber como es trabajar con él. ;)</p>#}
{#          <hr>#}
{#            <p>Púntua la pega realizado</p>#}
{#            <form  method="post" action="{% url 'cerrar_trabajo_publicado' i.pk %}" id="calificacion" enctype="multipart/form-data">#}
{#                {% csrf_token %}#}
{#                <div class="rating">#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="1" >#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="2" >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="3" >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="4"  >#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#                              <label>#}
{#                                <input type="radio" name="stars" value="5" checked="">#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                                <span class="icon">★</span>#}
{#                              </label>#}
{#</div>#}
{#                    <div class="col-md-12">#}
{#                        <p>Escribe algo sobre la pega realizada</p>#}
{#                        <textarea name="comentario" id="comentario" rows="4" cols="50"></textarea>#}
{#                    </div>#}
{#                    <div class="col-md-12">#}
{#                        <button class="btn btn-primary" id="submit">Calificar y terminar pega!</button>#}
{#                    </div>#}
{#                    </form>#}
{##}
{#            <p>Escribe algo sobre la pega realizada</p>#}
{#                            <textarea rows="4" cols="50">#}
{#                            </textarea>#}
{#        </div>#}
{#        <div class="modal-footer">#}
{#          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
                          {% endfor %}

    </div>
    </div>
<style>
                                .rating {
                              display: inline-block;
                              position: relative;
                              height: 50px;
                              line-height: 50px;
                              font-size: 50px;
                            }

                            .rating label {
                              position: absolute;
                              top: 0;
                              left: 0;
                              height: 100%;
                              cursor: pointer;
                            }

                            .rating label:last-child {
                              position: static;
                            }

                            .rating label:nth-child(1) {
                              z-index: 5;
                            }

                            .rating label:nth-child(2) {
                              z-index: 4;
                            }

                            .rating label:nth-child(3) {
                              z-index: 3;
                            }

                            .rating label:nth-child(4) {
                              z-index: 2;
                            }

                            .rating label:nth-child(5) {
                              z-index: 1;
                            }

                            .rating label input {
                              position: absolute;
                              top: 0;
                              left: 0;
                              opacity: 0;
                            }

                            .rating label .icon {
                              float: left;
                              color: transparent;
                            }

                            .rating label:last-child .icon {
                              color: #000;
                            }

                            .rating:not(:hover) label input:checked ~ .icon,
                            .rating:hover label:hover input ~ .icon {
                              color: #09f;
                            }

                            .rating label input:focus:not(:checked) ~ .icon:last-child {
                              color: #000;
                              text-shadow: 0 0 5px #09f;
                            }
                            </style>

{% endblock %}
{% block scripts %}

{#<script src="{% static 'js/jquery-3.3.1.js' %}"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{#    <script src="{% static 'vendor/jquery/jquery.steps.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.steps.min.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.smartWizard.js' %}"></script>#}
{#  <script src="{% static 'vendor/jquery/jquery.smartWizard.min.js' %}"></script>#}
{#    <link href="{% static 'vendor/jquery/jquery.steps.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/admin-forms.css' %}" rel="stylesheet">#}

{#    <link href="{% static 'vendor/jquery/smart_wizard.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_arrows.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_circles.css' %}" rel="stylesheet">#}
{#    <link href="{% static 'vendor/jquery/smart_wizard_theme_dots.css' %}" rel="stylesheet">#}
{##}
{#<script type="text/javascript">#}
{#        $(document).ready(function(){#}
{##}
{#            // Step show event#}
{#            $("#smartwizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {#}
{#               //alert("You are on step "+stepNumber+" now");#}
{#               if(stepPosition === 'first'){#}
{#                   $("#prev-btn").addClass('disabled');#}
{#               }else if(stepPosition === 'final'){#}
{#                   $("#next-btn").addClass('disabled');#}
{#               }else{#}
{#                   $("#prev-btn").removeClass('disabled');#}
{#                   $("#next-btn").removeClass('disabled');#}
{#               }#}
{#            });#}
{##}
{#            // Toolbar extra buttons#}
{#            var btnFinish = $('<button></button>').text('Finish')#}
{#                                             .addClass('btn btn-info')#}
{#                                             .on('click', function(){ alert('Finish Clicked'); });#}
{#            var btnCancel = $('<button></button>').text('Cancel')#}
{#                                             .addClass('btn btn-danger')#}
{#                                             .on('click', function(){ $('#smartwizard').smartWizard("reset"); });#}
{##}
{#            // Smart Wizard 1#}
{#            $('#smartwizard').smartWizard({#}
{#                    selected: 0,#}
{#                    theme: 'arrows',#}
{#                    transitionEffect:'fade',#}
{#                    showStepURLhash: false,#}
{#                    toolbarSettings: {toolbarPosition: 'both',#}
{#                                      toolbarExtraButtons: [btnFinish, btnCancel]#}
{#                                    }#}
{#            });#}
{##}
{#        });#}
{#    </script>#}

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.min.js' %}"></script>


{% endblock %}