{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}



{% block section_contenido %}
<div class="admin-panels ui-sortable animated fadeIn">

          <div class="row">

            <div class="pl15 pr50">
            <h4> ¡Bienvenido a FullPega! </h4>
            <hr class="alt short">
            <p class="text-muted"> Lorem ipsum dolor sit amet,  is nisi ut aliquip ex ea commodo consectetur adipi sicing elit, sed do eiusmod tempor incididu ut labore et is nisi ut aliquip ex ea commodo dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exetation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
            </div>
</div>
{% endblock %}
