{% extends 'Partials/_Base.html' %}
{% load bootstrap4 %}
{% load static %}


 <link rel="stylesheet" type="text/css" href="{% static 'assets/' %}">
{% block section_contenido %}
    <div class="row text-center">

  <h4>¡Publica la pega que necesitas que te hagan!</h4>

  Publica la pega para que los usuarios puedan postular a ella! <hr>
    </div>

{#<div class="container admin-form theme-primary">#}
<div class="admin-form theme-primary">

              <div class="panel heading-border panel-primary">
                <div class="panel-body bg-light">
                    <div class="section-divider mb40" id="spy1">
                      <span>¡Publica la pega que necesitas que alguien haga!</span>
                    </div>
{#    <div class="row col-md-12">#}
{#    <div class="panel heading-border panel-primary">#}
{#                  <div class="panel-title hidden-xs">#}
{#                    <span class="glyphicon glyphicon-tasks"></span>¡Publica la pega que necesitas que alguien haga!</div>#}
{#                </div>#}

        <form method="post" action="{% url 'guardar_trabajo' request.user.pk %}" id="formulario_trabajo" enctype="multipart/form-data">{% csrf_token %}
{#            <div class="section-divider mb40">#}
                <div class="row">
                    <div class="col-md-4">
                      <label for="email">Nombre:</label>
                      <input type="" class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="col-md-4">
                      <label for="email">Detalle:</label>
                      <input type="" class="form-control" name="detalle" id="detalle">
                    </div>
                    <div class="col-md-4">
                      <label for="email">Monto:</label>
                      <input type="number" class="form-control" step ="1" name="monto" id="monto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="Hora">Areas:</label>

                        <select name="id_Area" class="form-control" required="" id="id_Area">
                            <option value="" selected="">Seleccione el área que corresponde</option>

                            {% for i in areas %}
                                 <option value="{{ i.pk }}">{{ i.Nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Hora">Rango etario:</label>

                        <select name="r_etario" class="form-control" required="" id="r_etario">
                            <option value="" selected="">Seleccione rango etario</option>
                            <option value="Sin_rango" class="value">Sin rango etario preferencial</option>

                            <option value="15-25" class="value">15-25</option>
                            <option value="25-35" class="value">25-35</option>
                            <option value="35-35" class="value">35-35</option>
                            <option value="45-55" class="value">45-55</option>
                            <option value="55-65" class="value">55-65</option>
                        </select>

                    </div>
                    <div class="col-md-4">
                        <label for="Hora">Dirección:</label>
                        <select name="direccion" class="form-control" required="" id="direccion">
                            {% for i in usuario %}
                                <option value="{{ i.Direccion.pk }}" class="value">{{ i.Direccion.Calle}}, {{ i.Direccion.Numero_de_calle }}. {{ i.Direccion.Comuna }}</option>
                            {% endfor %}
                        </select>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4   ">
                        <label for="Fecha">Fecha:</label>
                        <input type="date" name="fecha"  id="fecha" class="form-control" placeholder="Ingrese la fecha del trabajo" required="">
                    </div>
                    <div class="col-md-4">
                        <label for="Hora">Hora:</label>

                        <input type="time" name="hora" value="2019-08-05 06:16:25.484031" id="hora" class="form-control" placeholder="Ingrese la hora del trabajo" required="">
                    </div>
                    <div class="col-md-4">
                        <label for="Hora">Imagen:</label>
                        <input type="file" id="ImagenTrabajo" name="ImagenTrabajo">
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-4">
                        a
                    </div>
                    <div class="col-md-4">
                        a
                    </div>
                    <div class="col-md-4">
                        a
                    </div>
                </div>
{#            #}
{#            </div>#}
            <div class="text-center">
                <button class="btn btn-primary" id="submit">Publicar pega!</button>
            </div>
        </form>
    </div>
    </div>
</div>
{#          <div class="row">#}
{##}
{#            <div class="pl15 pr50">#}
{#            <h4> ¡Bienvenido a FullPega! - Publicar trabajo </h4>#}
{#            <hr>#}
{#            <p class="text-muted"> Publica tu trabajo a continuación!</p>#}
{#            <div class="row">#}
{#                  <form method="post" action="" id="account2">#}
{#                  <div class="panel-body p25 bg-light">#}
{#                    <div class="section-divider mt10 mb40">#}
{#                      <b><span>Publica tu trabajo a continuación!</span><hr>#}
{#                    </div>#}
{#                    <!-- #<input type="submit" value="Submit"> -->#}
{#                  <div class="container">#}
{##}
{#                  </div>#}
{#                    {% csrf_token %}#}
{#                    {{ form }}#}
{#                      <!-- #<input type="submit" value="Submit"> -->#}
{#                  <select>#}
{#                            {% for i in form %}#}
{#                                <option>#}
{#                                <h2>{{ i.form.Area.pk  }}</h2>#}
{#                                </option>#}
{#                            {% endfor %}#}
{#                  </select>#}
{#                    <div class="row">#}
{#                        <hr>#}
{#                    </div>#}
{#                  <div class="row" style="text-align: center;">#}
{#                    <button type="submit" class="button btn-primary">Publicar trabajo</button>#}
{#                 </div>#}
{#              <!-- end .form-footer section -->#}
{#                </form>#}
{#              </div>#}
{#          </div>#}
{##}
{#            </div>#}
{#</div>#}


{% endblock %}
